<p-dialog
  header="Nowa firma"
  [visible]="visible()"
  [style]="{ width: '25rem' }"
  (onHide)="hide.emit()"
>
  <form [formGroup]="form" class="flex flex-column gap-4">
    <div class="flex flex-column gap-2">
      <label for="name" class="font-semibold">Nazwa firmy</label>

      <input pInputText formControlName="name" />
    </div>

    <div class="flex flex-column gap-2">
      <label for="email" class="font-semibold">Udziały</label>

      <input pInputNumber formControlName="shares" />
    </div>

    <div class="flex justify-content-end gap-2 mt-3">
      <p-button label="Anuluj" severity="secondary" (onClick)="hide.emit()" />

      <p-button label="Wyślij" (onClick)="onSave()" [disabled]="form.invalid" />
    </div>
  </form>
</p-dialog>
